@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato/Lato-Medium.eot");
  src: url("../../fonts/Lato/Lato-Medium.eot?#iefix") format("embedded-opentype"),
     url("../../fonts/Lato/Lato-Medium.woff") format("woff"),
     url("../../fonts/Lato/Lato-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato/Lato-Medium.eot");
  src: url("../../fonts/Lato/Lato-Medium.eot?#iefix") format("embedded-opentype"),
     url("../../fonts/Lato/Lato-Medium.woff") format("woff"),
     url("../../fonts/Lato/Lato-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato/Lato-MediumItalic.eot");
  src: url("../../fonts/Lato/Lato-MediumItalic.eot?#iefix") format("embedded-opentype"),
     url("../../fonts/Lato/Lato-MediumItalic.woff") format("woff"),
     url("../../fonts/Lato/Lato-MediumItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato/Lato-Light.eot");
  src: url("../../fonts/Lato/Lato-Light.eot?#iefix") format("embedded-opentype"),
     url("../../fonts/Lato/Lato-Light.woff") format("woff"),
     url("../../fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato/Lato-Thin.eot");
  src: url("../../fonts/Lato/Lato-Thin.eot?#iefix") format("embedded-opentype"),
     url("../../fonts/Lato/Lato-Thin.woff") format("woff"),
     url("../../fonts/Lato/Lato-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato/Lato-ThinItalic.eot");
  src: url("../../fonts/Lato/Lato-ThinItalic.eot?#iefix") format("embedded-opentype"),
     url("../../fonts/Lato/Lato-ThinItalic.woff") format("woff"),
     url("../../fonts/Lato/Lato-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato/Lato-Bold.eot");
  src: url("../../fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype"),
     url("../../fonts/Lato/Lato-Bold.woff") format("woff"),
     url("../../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato/Lato-Black.eot");
  src: url("../../fonts/Lato/Lato-Black.eot?#iefix") format("embedded-opentype"),
     url("../../fonts/Lato/Lato-Black.woff") format("woff"),
     url("../../fonts/Lato/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}